body{
	font-family: 'Poppins', sans-serif !important;
	font-weight:400;
	background:#f9f9f9;
	font-size:14px;
}
label,div,a,table,tr,td{
	font-family: 'Poppins', sans-serif !important;
	font-weight:400;
}
a:focus, a:hover{
	color:#586636;
}
select.input-sm, select.form-group-sm .form-control {
    height: 37px;
    line-height: 30px;
}
.hideme{ display: none !important; }
#login-logo-img{ width: 100%; max-width: 100%; }
h1.hero.company-name{
    max-width: 100%;
    overflow: hidden;
    font-size: 22px;
    text-align: left;
    color: #d2d7d9;
}

.company .flex-small-item .padding-bottom{ padding-bottom: 10px; }
.company .flex-xbig-item .toolbar-right{ padding-bottom: 0; padding-top: 14px; }
.company .flex-xbig-item .toolbar-right .arrow-down-tb{ top: 24px; right: 6px; }
.custom-sel{ max-width: 280px; }
.custom-input{ max-width: 240px; }
.header-line{ 
	background-color: #39a0ba; 
	width: 100%; 
	height: 7px;
}
.btn-success {
    background-color: #39a0ba;
    border-color: #39a0ba;
}
.btn-block{ width: 300px; }
.manage-company .company-logo{
	display: block;
    margin-left: auto;
}
input[type=file]{ display: inline-block; } 
.dropdown-arrow.custom::after{ top: -21px; }
.au-breadcrumb ul{ margin-bottom: 0; }
.flex-container.cms .flex-small-item{ display: block; }
.flex-container.cms .flex-small-item label{ padding-right: 25px; display: block; }
.flex-container.cms .flex-small-item .square-form-field{ width: 100%; display: block; }
    #table_wrapper {
        /*margin-top: -51px;*/
    }
    .dataTables_wrapper .dataTables_length {
        float:right !important;
        padding: 5px !important;
    }
    #DataTables_Table_0_filter{
        margin-right:15px !important;
        padding:5px !important;
    }
    .flex-container.cms .flex-small-item{
    min-height: 45px !important;
    margin-bottom: 15px;
    }
    #main-content{
        padding: 15px;    
    }
    #content-body .section__content  .container-fluid{
        padding-left: 0px;
    padding-right: 0px;
    }
    .au-breadcrumb-left ul li h4{
            font-size: 16px;
            font-weight:normal !important;
    }
    #menu-bar-list .panel{
            margin-bottom: -12px !important;
    }
    form .company_logo_prev img{
        width:50%;
    }

/*menu-bar-list*/
#side-menu-bar{
    overflow-x: auto;
}
/*::-webkit-scrollbar {
  width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}*/

.side-menu-bar.mobile-menu{ 
    display:none;
}
.clearfix{
    float:none;
}

/*user dashboard*/

/*mesage icon*/
li.user-message{
    position: relative;
}
li.user-message .um-total{
    position: absolute;
    display: inline-block;
    top: 16px;
    right: 14px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    background: #ff4b5a;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 12px;
}
.header-mobile,
.navbar-username-mobile,
.nav-uname-mob{
    display:none;
}

/*select2*/
.select2-container--default .select2-selection--single{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none;
    border-bottom: 1px solid #000 !important;
    color: #333;
    font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    display: none !important;
}
.company_logo_prev{ max-width: 85%; margin-bottom: 15px; }
.report-container .view-report{ max-height: 335px; overflow: hidden auto; }
.report-container .view-report caption{ display:none;}
/*If the browser window is 768px or smaller*/
@media only screen and (max-width: 768px) {
    #side-menu-bar{ display: none;}
    
    
    .header-mobile{
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .header-mobile .header-mobile__bar {
        padding: 15px 0;
    }
    .header-mobile .header-mobile-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .logo {
        text-align: center;
    }
    .header-mobile .hamburger {
        width: 36px;
        height: 36px;
        padding: 0;
        line-height: 1;
        vertical-align: top;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    
    #main-navbar{
        display: block;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        top: 100px;
        left: 0;
        z-index: 10;
    }
    .wg-right:not(:nth-child(1)) {
        padding: 17px 10px;
    }
    .open>.dropdown-menu{
        top: 50%;
    }
    .main-title,.navbar-username-mobile{
        display: block;
    }
    .wg-left,.wg-navbar-right{
        float: none !important;
    }
    .fa-2x {
        font-size: 24px;
    }
    li.user-message .um-total{
        right: 7px;
        top: 15px;
    }
    #side-menu-bar.is-active #navbar-logo{ display:none;}
    #side-menu-bar.is-active{
        display: block;
        position: absolute;
        width: 100%;
        top: 88px;
        z-index: 20;
    }
    #side-menu-bar.is-active 
    #side-menu-bar.is-active #menu-bar-list{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-uname-mob{ 
        display: block; 
    }
    
    .body-content{
        margin: 0 auto;
        max-width: 100%;
        position: relative;
        top: 180px;
    }
    .body-content #main-content #content-body .panel-default .panel-heading .nav-tabs>li>a{
        padding: 10px 12px;
    }
    .body-content #main-content #content-body .panel-default .tab-content{
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
    .body-content #main-content #content-body .flex-container-no-align{
        float: none;
        width: 90% !important;
        max-width: 100%;
        position: initial !important;
        margin: 0 auto !important;
    }
    #oneOnOneTable_wrapper #DataTables_Table_0_wrapper #DataTables_Table_0_filter{
        margin: 0 auto !important;
        text-align: left;
    }
    #content-body .section__content .flex-container1 .flex-container.cms{
        max-width: 100%;
        overflow: hidden;
        display: block;
    }
    #content-body .section__content .flex-container1 .flex-container.cms .flex-small-item label{
        width: 40%;
        padding-bottom: 15px;
        padding-right: 15px;
        font-size: 12px;
    }
    #content-body .section__content .flex-container1 .flex-container.cms .flex-small-item .square-form-field{
        width: 95%;
        max-width: 100%;
    }
    .au-breadcrumb-left ul li h4 {
        font-size: 12px;
    }
    .btn-block{
        width: 100%;
    }
}
#login-form .input-group-btn{
	display:none;
}
#login-form .form-group{
   margin-left:0;
   margin-right:0;
    margin-bottom: 25px;      	
}
input::placeholder,textarea::placeholder {
	color:#666666 !important;
    font-family: 'Poppins', sans-serif !important;
	font-weight:200;
	font-size:16px;
		
}
.checkbox.vertical-align{
    justify-content: left;	
}
.btn-dark,.btn-dark:hover{
background: #7e9449;
    border-radius: 5px !important;
	border-color:#7e9449;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 16px;
    width: auto !important;
    letter-spacing: 10;
    padding: 15px 25px;
    height: auto;
}
.btn-dark i{
   margin-left:5px;	
}
#login-container{
   border:1px solid #9d9d9d !important;	
   border-radius:5px !important;
   padding:35px;
   min-width: 400px;	
-webkit-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.1);
-moz-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.1);
box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.1);
}
.half-col{
   width:50%;
   float:left;	
}
.login-input-fields {
    float: none;
    display: table;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
#login-logo-bar{
   margin-left: 0px;	
   background-color: #333333;
   min-height: 90px;
}
input,.square-form-field{
   border:2px solid #f0f0f0  !important;	
   border-radius:5px !important;
height: 45px;
    line-height: 45px;   
	margin: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
}
textarea {
   border:2px solid #f0f0f0  !important;	
   border-radius:5px !important;
	margin: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    font-weight: 400;	
}
#main-navbar{
background: #333333;
    margin-left: 0;	
}
#side-menu-bar {
    float: left;
    background-color: #586636;
margin-top: 70px;
    width: 210px;
}
#side-menu-bar #menu-bar-list-items{
	 padding: 0px;
}
#side-menu-bar #menu-bar-list-items li{
   list-style:none;	
    padding: 15px;
       border-bottom: 1px solid #768158;   
}
#side-menu-bar #menu-bar-list-items li.active{
	background-color: #4c582f
}
#side-menu-bar #menu-bar-list-items li a{
  font-size:18px;
  color:#fff;	
}
#side-menu-bar #menu-bar-list-items li a i{
  color:#b3be43;
  margin-right:15px;	
}
.my-navbar-logo-header{
width: auto;
    min-width: 236px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	float:left;	
}
#login-logo-img {
    width: auto;
}
.body-content{
   margin-top: 0px;	
}
.body-content #main-content{
   border:1px solid #9d9d9d !important;	
   border-radius:5px !important;
   padding:25px 15px;

-webkit-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.1);
-moz-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.1);
box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.1);	
margin-bottom: 20px;
}

.table thead {
    background-color: #586636;
    color: #fff;
 	font-family: 'Poppins', sans-serif !important;
}
.table-hover tbody tr td,
.table-hover tbody tr th{
	font-family: 'Poppins', sans-serif !important;
	
	
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #333333;
    color: #fff;
	font-family: 'Poppins', sans-serif !important;
}
div.dataTables_wrapper div.dataTables_filter input{
    height: 37px;
	font-size:14px;	
}
h2.main-title{
color: #333;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
    padding-left: 0;
    margin-bottom: 15px;	
}
.wg-navbar-right {
    float: right;
    width: auto;
    margin-right: 30px;
}
.wg-navbar-right h3{
    color:	#fff;
    font-family: 'Poppins', sans-serif !important;
	font-size:16px;
	font-weight:400;
	line-height: 35px;
}
.wg-navbar-right h3 i{
	color:#90983f;
	margin-left:10px;
}
.btn-block,.btn-block:hover{
background: #7e9449;
    border-radius: 5px !important;
	border-color:#7e9449;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 16px;
    width: auto !important;
    letter-spacing: 10;
    padding: 15px 25px;
    height: auto;
}
.flex-big-item {
    justify-content: space-between;
    padding: 0 20px 0 0;
}
.flex-big-item:last-child {
    padding: 0;
}